<div style="background-color: #f2f2f2;">
<div class="jumbotron text-centainer">
  <div class="row">
    <div class="mx-auto py-5 col-11 col-sm-10 col-lg-8 col-xl-6 text-left">
      <h2>サウナ情報を</br>
      　　投稿しよう</h2>
      <p class="hero__btn__wrapper">
        <% if user_signed_in? %>
          <%= render partial: 'login_user' %>
        <% else %>
          <%= render partial: 'no_login_user' %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="sidebar col-3 ">
    <%= render "public/areas/area", areas: @areas %>
  </div>

  <div class="col-md-8">
        <h2 class="mt-3 mb-4">新着投稿</h2>
          <div class="row">
            <% @facility_posts.first(3).each do |facility_post| %>
              <div class="col-12 col-md-6 col-lg-4">
                <%= link_to facility_post_path(facility_post) do %>
                  <div class="card">
                    <div class="card-body product-image text-center" style="height: 200px; overflow: hidden;">
                      <%= image_tag facility_post.image, class: "img-fluid w-100 h-100" %> <!-- img-fluidクラスとw-100クラス、h-100クラスを追加 -->
                    </div>
                    <div class="card-body">
                      <h4 class="card-text" style="color: black;"><%= facility_post.name %></h4>
                      <p class="card-text" style="color: black;">
                        <i class="fa-solid fa-location-dot"></i> <%= facility_post.area.name %></p>
                        
                      <p id="star_<%= facility_post.id %>"></p>
                        <script>
                          let elem = document.querySelector('#star_<%= facility_post.id %>');
                        
                          elem.innerHTML = "";
                          let opt = {  
                            starOn: "<%= asset_path('star-on.png') %>",
                            starOff: "<%= asset_path('star-off.png') %>",
                            starHalf: "<%= asset_path('star-half.png') %>",
                            score: "<%= facility_post.star %>",
                            readOnly: true,
                          };
                          raty(elem, opt);
                        </script>
                      <p class="card-text" style="color: black;"><%= facility_post.created_at.strftime('%Y/%m/%d') %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
    
          <div class="index-link">
            <%= link_to "全ての投稿を見る>", facility_posts_path, style: "color: black;" %>
          </div>
  </div>
</div>
</div>

<style>
  .jumbotron {
    background-image: url(<%= image_path("sauna.top.jpg") %>);
    background-size: cover;
    background-position: center center;
    color: #fff;
  }
</style>
