<%= form_with model:@facility_post, url: facility_posts_path, local:true do |f| %>

  <% if @facility_post.id.nil? %>
    <div class="form-group" id="star">
      <strong><%= f.label :評価 %></strong>
      <%= f.hidden_field :star, id: :review_star, class: "form-control" %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if(elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'book[star]',
        };
        raty(elem, opt);
      });
    </script>
    <% else %>
      <div class="form-group">
        <%= render "form", facility_post: @facility_post %>
      </div>
    <% end %>
<% end %>