<div style="background-color: #f2f2f2;">
<div class="container">
  <div class="row">

    <!--エリア検索左側-->
    <div class="sidebar col-4 mt-5">
      <%= render "public/areas/area", areas: @areas %>
    </div>

    <!--投稿一覧-->
    <div class="col-md-8">
      <h2 class="mb-5 mt-4">一覧(全<%= @facility_posts.count %>件)</h2>
      <div class="row">
        <% @facility_posts.each do |facility_post| %>
          <div class="col-12 col-md-6 col-lg-4 mb-2">
            <%= link_to facility_post_path(facility_post) do %>
              <div class="card">
                <div class="card-body product-image text-center" style="height: 200px; overflow: hidden;">
                  <%= image_tag facility_post.image, class: "img-fluid w-100 h-100" %> <!-- img-fluidクラスとw-100クラス、h-100クラスを追加 -->
                </div>
                <div class="card-body">
                  <h4 class="card-text" style="color: black;"><%= facility_post.name %></h4>
                  <p class="card-text" style="color: black;">
                    <i class="fa-solid fa-location-dot"></i> <%= facility_post.area.name %></p>
                    
                  <p id="star_<%= facility_post.id %>"></p>
                    <script>
                      let elem = document.querySelector('#star_<%= facility_post.id %>');
                    
                      elem.innerHTML = "";
                      let opt = {  
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        score: "<%= facility_post.star %>",
                        readOnly: true,
                      };
                      raty(elem, opt);
                    </script>
                  <p class="card-text" style="color: black;"><%= facility_post.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
</div>