<h2 class="mb-4 mt-3 ml-5">新規ユーザー登録</h2>

<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        
        <div class="form-group">
          <i class="fa-solid fa-envelope"></i> <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="form-group">
          <i class="fa-solid fa-unlock"></i> <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="form-group">
          <i class="fa-solid fa-unlock"></i> <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "新規ユーザー登録", class: "btn btn-primary" %>
        </div>
      <% end %>

    <%= render "public/shared/links" %>
    </div>
  </div>
</div>

<style>
  .btn-primary {
      color: #fff;
      background-color: #CD853F; /* もう少し濃い茶色の色コードです */
      border-color: #CD853F; /* ボーダーの色も合わせて設定 */
    }
</style>
